<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
 
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">First Aid Bracelet</a>
    </div>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="/login"> Back To Login</a></li>
	</ul>
  </div>
</nav>  

    <div class="container" style="background-image: url('/background.png'); background-repeat: no-repeat ; background-position: center ">
        <div class="jumbotron">
            <center><h4>  Welcome Admin <%= user %> <br> </h4></center>
        </div>

        <div class="imgcontainer">
		    <img src="/command-center.png" alt="Login" class="avatar">
	    </div>

        <div class="row">
            <form name="loginForm" action = "/equip" method = "post" onsubmit="return validateForm()">
                <input type="hidden" name="currentUser" value=<%=user%>>
                <input type="hidden" name="type" value=<%=type%>>
                <div class="col-md-3"> <center> <input type="submit" value="Check Equipment" class="btn btn-lg btn-default"></center> </div>
            </form>

            <form name="loginForm" action = "/user" method = "post" onsubmit="return validateForm()">
                <input type="hidden" name="currentUser" value=<%=user%>>
                <input type="hidden" name="type" value=<%=type%>>	
               <div class="col-md-3"> <center> <input type="submit" value="Add User" class="btn btn-lg btn-default"></center> </div>
            </form>
            
        </div>
    </div>
</body>
</html>
