<!DOCTYPE html>
<html lang="en">
<head>
  <title>Main Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <link rel="stylesheet" href="/stylesheets/mainPageStyles.css">	
</head>

<body>
<div class="row" > </div>
<div class="row" >" "  </div>
<div class="row" >" "  </div>
<div class="row" >
<div class="col-md-2"><center>
<div class="vertical-menu pull-right" >
<center>
<h4>Display By</h4>  
<!-- This is the Filters side Bar container, in future he will be built dynamicly -->
<!-- Every element in the container is a dropdown menu of filter values -->
<div class="dropdown">
    <ul id="divisionDropdown" class="dropdown-menu">
	<!-- Every dropdown is created by template iterator which builds list from the value we pass fom back-end -->
	<% divisions.forEach(function(dvsn) { %> 
	 <a href="#" class="list-group-item" onclick="selectDivision(' <%= dvsn %> ')"><%= dvsn %></a>
     <% }); %>  
    </ul>
  </div>
 <button class="btn btn-primary dropdown-toggle" rel="popover" data-toggle="dropdown" data-popover-content="#divisionDropdown" type="button" data-trigger="focus" >Division <span class="caret-right"></span></button>
     <h1></h1>
   <div class="dropdown">
    <ul id="unitDropdown" class="dropdown-menu">
      <% units.forEach(function(unt) { %> 
     <a href="#" class="list-group-item" onclick="selectUnit(' <%= unt %> ')"><%= unt %></a>
     <% }); %>  
    </ul>
  </div>
   <button class="btn btn-primary dropdown-toggle" rel="popover" data-toggle="dropdown" data-popover-content="#unitDropdown" type="button" data-trigger="focus" >Unit <span class="caret-right"></span></button>

    <h1></h1>
  <div class="dropdown">    
    <ul id="locationDropdown" class="dropdown-menu">
	<a href="#" class="list-group-item">Some location</a>
	<a href="#" class="list-group-item">Location location</a>
    </ul>
  </div>
     <button class="btn btn-primary dropdown-toggle" rel="popover" data-toggle="dropdown" data-popover-content="#locationDropdown" type="button" data-trigger="focus" >Location <span class="caret-right"></span></button>
  <h1></h1>
  <div class="dropdown">
      <ul id="statusDropdown" class="dropdown-menu">
	<a href="#" class="list-group-item" onclick="selectStatus('Light')">Light</a>
	<a href="#" class="list-group-item" onclick="selectStatus('Average')" style="background-color:#ff7733">Average</a>
	<a href="#" class="list-group-item" onclick="selectStatus('Heavy')" style="background-color:#ff0066">Heavy</a>
	<a href="#" class="list-group-item" onclick="selectStatus('K.I.A')" style="background-color:red">K.I.A</a>
    </ul>
  </div>
       <button class="btn btn-primary dropdown-toggle" rel="popover" data-toggle="dropdown" data-popover-content="#statusDropdown" type="button" data-trigger="focus" >Status <span class="caret-right"></span></button>
  <h1></h1>
  <!-- This two buttons will be removed after we will make the filter bar dynamicly -->
   <a href="#" onclick="addTable()">DISPLAY</a>
  <h1></h1>
   <a href="#" onclick="deleteTable()">Clear all</a>
  <center>
  <center>
</div>
</div><div class="col-md-10"><center>
<div class="container">
  <h2><center> Soldiers Database <center></h2>         
  <table class="table">
    <thead><tr>     
	   <% soldiers_table.forEach(function(doc) { %>    
	    <th> <%= doc %> </th> 
	   <% }); %>
    </tr></thead>
	  <ul>
    <% soldiers.forEach(function(sld) { %>           
    <tbody>
      <tr>
	   <% soldiers_table.forEach(function(prop) { %>    
	    <td>  <%= <%= sld%>.<%= prop %> %></td> 
	   <% }); %>     
      </tr>        
	  <% }); %>
    </tbody>
  </table>
  </ul>
</div><center></div>
</div>

<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8"> <div class="container">
  <h2>Chosen Filters</h2>
  <ul id="divisionId" class="list-inline" ></ul>    
   </div>
</div>
<div class="col-md-2"></div>
</div> 
 <div class="row">
 <div class="col-md-1"></div>
 <div class="col-md-10">
 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://firstaidbracelet.herokuapp.com/">First Aid Bracelet</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="https://firstaidbracelet.herokuapp.com/mainPage"> mainPageFilter</a></li>
    </ul>
  </div>    
</nav>
</div>
<div class="col-md-1"></div>
  </div>
</body>

<script >
<!-- local variables to manipulate chosen data in real time (not sure if we will need in future) -->
var divisions = [];
var units = [];
var locations = [];
var injuryStatuses = [];
<!-- function that creates the popover that related with the "popover" keyword -->
$(function(){
    $('[rel="popover"]').popover({
        container: 'body',
        html: true,
        content: function () {
            var clone = $($(this).data('popover-content')).clone(true).removeClass('dropdown-menu');
            return clone;
        }
    }).click(function(e) {
        e.preventDefault();
    });
});
<!-- Implementation of on click functions of the filters bar -->
function selectDivision(division) {
    for (i = 0; i < divisions.length; i++) {
		if (division === divisions[i] ){
			return;
		}
	}
	divisions.push(division);
    var myNodelist = document.getElementsByTagName("ul");
    var node = document.createElement("LI");
    var textnode = document.createTextNode(division);
    node.appendChild(textnode);
    node.style.backgroundColor = "yellow";
    document.getElementById("divisionId").appendChild(node);
}
function selectUnit(unit) {
    for (i = 0; i < units.length; i++) {
		if (unit === units[i] ){
			return;
		}
	}
	units.push(unit);
    var myNodelist = document.getElementsByTagName("ul");
    var node = document.createElement("LI");
    var textnode = document.createTextNode(unit);
    node.appendChild(textnode);
    node.style.backgroundColor = "#a64dff";
    document.getElementById("divisionId").appendChild(node);
}
function selectStatus(status) {
    for (i = 0; i < injuryStatuses.length; i++) {
		if (status === injuryStatuses[i] ){
			return;
		}
	}
	injuryStatuses.push(status);
    var myNodelist = document.getElementsByTagName("ul");
    var node = document.createElement("LI");
    var textnode = document.createTextNode(status);
    node.appendChild(textnode);

    switch (status) {
        case "K.I.A":
            node.style.backgroundColor = "red";
            break;
        case "Heavy":
            node.style.backgroundColor = " #ff0066";
            break;
        case "Average":
            node.style.backgroundColor = "#ff7733";
            break;
        case "Light":
            node.style.backgroundColor = "whilte";
            break;
    }
    document.getElementById("divisionId").appendChild(node);
}
<!-- Dynamic Table builder to represent the filtered information -->
<!-- need to think about parameters to pass -->
function addTable() {

<!-- Here we create Dynamicly linear list -->
   var node = document.createElement("LI");
   <!-- Here we will insert our table -->
    var table = document.createElement('table');
	table.setAttribute("class", "table table-striped");
	table.setAttribute("id", "serialId"); <!-- TODO: this id should be uniq for every table  -->
    var tHeader = table.insertRow(0);
     <!-- Iterator for the header -->
     for (i = 0; i < 5; i++) { 
	 tHeader.setAttribute("style","font-weight: bold");
     tHeader.insertCell(i).innerHTML =  "row"+ i + " ";
}
     <!-- Iterator for the columns which are soldiers properties -->
     for (j = 1; j < 5; j++) {       
      var tHeader = table.insertRow(j);
        for (k = 0; k < 5; k++) { 
      tHeader.insertCell(k).innerHTML = "col" + k + " ";
    }
    }
    <!-- Now insert the Tabe to the dynamic row -->
    node.appendChild(table);
    <!-- Create dynamcly table -->
    document.getElementById("filtersTable").appendChild(node);
}
function deleteTable() { <!-- TODO: when there will be uniq id pass it to this function -->
document.getElementById("serialId").remove();
}

</script>

</html>