<!DOCTYPE html>
<html>
<head>
  <title>Users Table</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script> 
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>  
  <script src="js/form-validation.js"></script>
  <script src="/views/functions/cookie.js"></script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/js/bootstrap-editable.min.js"></script>  
  <script src="/socket.io/socket.io.js"></script>

</head>
<body>

    <script>
        var socket = io.connect('/'); // connect to server
        $(document).ready(function() {

            //toggle `popup` / `inline` mode
            $.fn.editable.defaults.mode = 'inline';
            $.fn.editable.defaults.type = 'text';
            $.fn.editable.defaults.placement = 'right';
            
            <% users.forEach(function(doc) { %> 
            //make username editable
            var user = <%- JSON.stringify(doc.user)%>;
            var name = '.name_' + user;
            $(name).editable({
                params: { user : user},
                validate: function(value) {
                    if(value == '') {
                        return 'This field is required';
                    }
                    if (!/^[a-z]?[a-z\s]*$/i.test(value)){
                        return "This field must contain only letters and space";
                    }
                },
                success: function(response, val) {
                    var username = $(this).data('editable').options.params.user;
                    socket.emit('updateUserName', { user : username, name : val});
                }
            });

            var num = '.num_' + user;
            $(num).editable({
                validate: function(value) {
                    if (isNaN(value)){
                        return "This field needs be a number";
                    }
                    if (value.length != '7'){
                        return "This field's length needs be 7 digits";
                    }
                },
                params: { user : user},
                success: function(response, val) {
                    var username = $(this).data('editable').options.params.user;
                    socket.emit('updateUserNum', { user: username, num : val});
                }
            });
            
            var div = '.div_' + user;
            $(div).editable({
                params: { user : user},
                validate: function(value) {
                    if(value == '') {
                        return 'This field is required';
                    }
                },
                success: function(response, val) {
                    var username = $(this).data('editable').options.params.user;
                    socket.emit('updateUserDiv', { user: username, div : val});
                }
            });
                    
            <% }); %>
        });
    </script>
    
    <!-- top of the page, bootstrap navigation bar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">First Aid Bracelet</a>
	            <a class="navbar-brand" href="/admin_main">User</a>
            </div>
	        <ul class="nav navbar-nav navbar-right">
		        <li><a href="/logout">Logout</a></li>
	        </ul>
        </div>
    </nav>

    <div class="container" style="background-image: url('/background.png'); background-repeat: no-repeat ; background-position: center ">

    <% include ./add_user_page/add_user.ejs %>        

    <center><h1> User Table <br> </h1></center>

    <div class="row">
        <div class="col-md-1"></div> 
        <div class="col-md-10">
            <center>
            <table class="table table-hover">
                    <thead>
                        <tr>
                        <th>User</th>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Division</th>
                        <th>Connected</th>   
                        </tr>
                    </thead>  
                    <tbody>
                        <% users.forEach(function(doc) { %>
                        <tr id=<%= doc.user%> >
                            <td><%= doc.user%> </td>
                            <td><%= doc.type%> </td>
                            <td><a href="#" class="name_<%= doc.user%>"><%= doc.name%></a></td>
                            <td><a href="#" class="num_<%= doc.user%>"><%= doc.number%></a></td>
                            <td><a href="#" class="div_<%= doc.user%>"><%= doc.division%></a></td>
                            <td><%= doc.status%> </td>
                            <td><button type="submit" id="delete_<%= doc.user%>" class="btn btn-default btn-sm delete">Delete</button></td>
                        </tr>
                        <% }); %>
                    </tbody>          
            </table>
            </center>
        </div>
        <div class="col-md-1"></div>
    </div>

    </div>

    <script>
        var uname = getCookie("user");
        document.getElementById(uname).className = "success";
        document.getElementById(uname).title = "Current user";
        <% users.forEach(function(doc) { %>
            var status = <%- JSON.stringify(doc.status)%>;
            if (status == "connected"){
                uname = <%- JSON.stringify(doc.user)%>;
                var udelete = "delete_" + uname;
                document.getElementById(udelete).disabled = true;
                document.getElementById(udelete).title = "Cannot delete connected user";
            }
        $('table').on('click','.delete',function(){
            $(this).parents('tr').remove();
            socket.emit('removeUser', { user: uname });
        });
        <% }); %>
                

    </script>

</body>
</html>